<?xml version="1.0" encoding="UTF-8"?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cri-cancall-plugin"
  version="0.0.1">

  <description>Detect Phone Capability in Ionic/Cordova App</description>

  <name>CordovaCanCallPlugin</name>
  <author>Diane Loux</author>

  <license>Apache 2.0</license>
  <keywords>cordova,ionic,telephony</keywords>
  <js-module src="www/can-call.js" name="TelephonyChecker">
    <clobbers target="telephonyChecker"/>
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="TelephonyChecker">
        <param name="ios-package" value="CRITelephonyChecker"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CRITelephonyChecker.h" />
    <source-file src="src/ios/CRITelephonyChecker.m" />
  </platform>

  <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="CanCall">
              <param name="android-package" value="com.mms.cri.cancall.TelephonyChecker"/>
          </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.CALL_PHONE"/>
          <uses-feature android:name="android.hardware.telephony" android:required="false" />
      </config-file>
      <source-file src="src/android/TelephonyChecker.java" target-dir="src/com/mms/cri/cancall" />
  </platform>
</plugin>
